.contacts-section {
  @media screen and (max-width: 1199px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.contacts-section {
  .section-subtitle {
    margin-bottom: 40px;
    color: $white;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  .section-title {
    color: $white;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    .container {
      padding-left: 100px;
    }
  }
}

.address {
  font-style: normal;
  margin-bottom: 44px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 70px;
  }

  .address-link {
    @extend %link;
    font-size: 18px;
    line-height: 1.67;
    color: inherit;
    transition: 250ms linear;

    &:last-child {
      text-decoration: underline;
    }

    .icon-address {
      --color2: currentColor;
      vertical-align: middle;
      margin-right: 12px;
    }

    &:hover,
    &:focus {
      color: $orange;
    }
  }

  .address-link:not(:last-child) {
    margin-bottom: 20px;
  }
}

.time-work {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.67;
}

.contacts-section {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    > .container {
      display: flex;

      .wrap-table {
        width: 50%;

        .address-link {
          max-width: 250px;
        }
      }
    }

    > .container {
      .address-link .town {
        padding-left: 38px;
      }
    }

    > .container {
      .flex-wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
