.form-section {
  @media screen and (max-width: 1199px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.form-section {
  background-color: $bg-form-color;
  .button {
    color: $white;
    padding: 12px 38px;

    @media screen and (max-width: 767px) {
      display: block;
      margin: 0 auto;
    }
  }

  .section-subtitle {
    color: $white;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .section-subtitle {
      text-align: start;
    }
  }
}

.form-input:focus-within {
  .input::placeholder {
    color: $white;
  }

  .input {
    border-bottom: 1px solid $white;
  }
}

.form-input {
  .input {
    margin-bottom: 36px;
  }

  .input::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);
  }

  input,
  textarea {
    margin: 0;
    padding: 8px 0;
    width: 100%;
    border: 0;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.form-wrap {
  @media screen and (min-width: 768px) {
    display: flex;

    .form-input {
      flex-basis: 50%;

      &:first-child {
        padding-right: 15px;
      }

      &:last-child {
        padding-left: 15px;
      }
    }
  }
}
