.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    max-width: 510px;
    position: relative;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 720px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.section {
  padding: 84px 0;

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 130px 0;
  }
}

.wrapper {
  overflow: hidden;
  @media screen and (max-width: 1199px) {
    .section.form-section {
      display: none;
    }

    .section.contacts-section {
      display: none;
    }
  }

  @media screen and (min-width: 1200px) {
    background-color: $bg-form-color;

    .section.form-section {
      display: block;
    }

    .section.contacts-section {
      display: block;
    }

    > .container {
      display: flex;

      .form-section {
        width: 51%;
      }

      .contacts-section {
        width: 49%;
      }
    }
  }
}
