$white: #ffffff;
$primary-text-color: #9da4bd;
$title-color: #303030;
$secondary-text-color: #555555;
$orange: #ff6c00;
$bg-color: #f7f7f7;
$bg-form-color: #191c26;

$font-family: 'Open Sans', 'Arial', sans-serif;
$second-font-family: 'Raleway', sans-serif;

$font-size: 16px;
$line-height: 1.62;
$letter-spacing: 0.02em;
